# James Clark Homework 1-1

## Create a dictionary that identifies your name, major(s)/minor(s), motivation for taking the course, and plans for after you graduate from NDSU. Transform this into a datframe. Print the dataframe and save the datframe as a csv

In [2]:
dict = {"James SL Clark":{"Majors/Minors":"Economics and Agribusiness","Motivation for Taking the Course":"To develop an ability in data science","Post Graduate Plans":"To find a career"}}
dict

{'James SL Clark': {'Majors/Minors': 'Economics and Agribusiness',
  'Motivation for Taking the Course': 'To develop an ability in data science',
  'Post Graduate Plans': 'To find a career'}}

In [5]:
import pandas as pd

In [6]:
dict_df = pd.DataFrame(dict)
# to save a dictionary as a dataframe, pass the dictionary to pd.DataFrame()
dict_df.to_csv("Homework11.csv")
dict_df

                                                         James SL Clark
Majors/Minors                                Economics and Agribusiness
Motivation for Taking the Course  To develop an ability in data science
Post Graduate Plans                                    To find a career