# My First Jupyter Notebook/Class Notes

### <font color=green> From Dr. Caton: Class Purpose</font>

*Your are in this class to learn how to use computational tools to support economic analysis. While the class is intended to improve your skills as economists, it will open many other doors for you. After this course you will have developed the foundational knowledge required to enter a variety of fields:*

 - __computational finance__
 - __data analysis data science__
 - __functional object oriented programming__

*If you wish develop these skills, you will benefit from concurrently enrolling in econometrics, commodity trading, or courses in statistics and computer science.*

*The goal of our first lesson is to get acquainted with Jupyter notebooks. Jupyter notebooks are ideal for building a portfolio that you can save on GitHub or as an html file that can be integrated into a personal website. Plan to showcase your work to impress interested employers.*

*You will need to learn to work with Jupyter. Whenever you work on a project, it will be useful to keep open a list of keyboard shortcuts and a list of useful commands for altering text and creating useful structures (i.e, lists, hyperlinks, etc..) in markdown mode.*

*All projects will need to be created using Jupyter notebooks.*

## Dictionaries

A dictionary is a "*data structure that links keys to other objects.* An apt comparison would be the obvious - the *Merriam-Webster Dictionary* or even *Roget's Thesaurus*. In both cases, a key is directly linked to other information. In line from the two examples mentioned, let's start creating simple dictionaries - in these  examples, paralelling their common or colloquial definition.

### Example of a Simple Dictionary:

First, to we must learn the basic coding to create a dictionary. Note: It is common to, at least first (I Hope), be frustrated. I will start this example in Markdown mode, for the purposes of emphasizing what keys are used in defining a dictionary.

From the example given in class, let's look at the code itself, as we define, as verbs, to walk, and to run.

dct = {"run": "to move swiftly by foot", "walk" : "to move slowly, leasurely by foot"}

dct

Note that to start and end the dictionary, we use the "squiggly" bracket. The ":" character establishes the definition of our key, double apostrophe marks are necessary in both our key and its subsequent definition, and the comma seperates our two keys.

In [3]:
dct = {"run": "to move swiftly by foot",
      "walk" : "to move slowly, leasurely by foot"}
dct

{'run': 'to move swiftly by foot', 'walk': 'to move slowly, leasurely by foot'}

Before this, in our Jupyter notebook, all the text has been written in "Markdown" mode. Previous lines, where we actually defined our dictionary. Were written in "Code" mode. To switch between the two (or the two other options), utilize the dropdown menu near the middle of your Jupyter task bar.

Also note that, for Jupyter to execute the demand, one holds the "Ctrl" and "Enter" buttons on your computer simultaneously.

From the class presentation, let's show an example where each key is linked to multiple objects.

Using the example from the class presentation lets, create a dictionary where a key is linked to multiple objects.

We present this first in the markdown format.

In class, Dr. Caton utilized the following code:

dct = {"run": {"verb":"to move swiftly by foot", "noun":"refers to a period of time while one was running"}, "walk" :{"verb" : "to move slowly, leasurely by foot", "noun": "refers to a period of time while one was walking"}}

dct

It is worth paying attention to where the "squibbly" brackets are. It is easy to gloss over. But, in the meantime, we can move from Markdown to code.

In [5]:
dct = {"run": {"verb":"to move swiftly by foot", 
               "noun":"refers to a period of time while one was running"},
       "walk" :{"verb" : "to move slowly, leasurely by foot",
                "noun": "refers to a period of time while one was walking"}}
dct

{'run': {'verb': 'to move swiftly by foot',
  'noun': 'refers to a period of time while one was running'},
 'walk': {'verb': 'to move slowly, leasurely by foot',
  'noun': 'refers to a period of time while one was walking'}}

We can now create a DataFrame.

In [8]:
import pandas as pd
df = pd.DataFrame(dct)
df

,run,walk
verb,to move swiftly by foot,"to move slowly, leasurely by foot"
noun,refers to a period of time while one was running,refers to a period of time while one was walking

### Another Example

In class, we linked students to particular attributes, in this case, age and interesting fact.

In [10]:
dct = {"Tyler": {},
       "Emmanuel": {},
       "Amanda":{}, 
       "Logan":{},
       "Connor":{}, 
       "Dylan":{},
       "Gwen":{}, 
       "Jack":{}, 
       "Ben":{},
       "James":{}}
dct

{'Tyler': {},
 'Emmanuel': {},
 'Amanda': {},
 'Logan': {},
 'Connor': {},
 'Dylan': {},
 'Gwen': {},
 'Jack': {},
 'Ben': {},
 'James': {}}

*Note: For pedagogical reasons, we have initially left these blank, as it will be easier to fill in the information later, as opposed to doing each one at a time, but we will fill them now with the relevant information*

In [31]:
{'Tyler': {"Age":"21", 'Interesting Fact': 'I am left-handed / ambidextrious!'},
 'Emmanuel': {"Age":"32","Interesting Fact":"I have 7 degrees."},
 'Logan': {"Age":"22","Interesting Fact":"I fight fires"},
 'Connor': {"Age":"21","Interesting Fact":"I play Tennis"},
 'Dylan': {"Age":"21","Interesting Fact":"I am a Triplet"},
 'Gwen': {"Age":"23","Interseting Fact":"I Bought My First Cow When I was 10"},
 'Jack': {"Age":"21","Interesting Fact":"I Have Never Broken a Bone"},
 'Ben': {"Age":"23","Interesting Fact":"I like basketball"},
 'James': {"Age":"28","Interesting Fact":"I'm From Bejou"}}

{'Tyler': {'Age': '21',
  'Interesting Fact': 'I am left-handed / ambidextrious!'},
 'Emmanuel': {'Age': '32', 'Interesting Fact': 'I have 7 degrees.'},
 'Logan': {'Age': '22', 'Interesting Fact': 'I fight fires'},
 'Connor': {'Age': '21', 'Interesting Fact': 'I play Tennis'},
 'Dylan': {'Age': '21', 'Interesting Fact': 'I am a Triplet'},
 'Gwen': {'Age': '23',
  'Interseting Fact': 'I Bought My First Cow When I was 10'},
 'Jack': {'Age': '21', 'Interesting Fact': 'I Have Never Broken a Bone'},
 'Ben': {'Age': '23', 'Interesting Fact': 'I like basketball'},
 'James': {'Age': '28', 'Interesting Fact': "I'm From Bejou"}}

 Dr. Caton recommended that it could be easier to utilize the following method, whereby we could, with different attributes, focus on one key at a time.

The following comes from Dr. Caton's notes:

In [33]:
dct["Emmanuel"]["Age"] = 32
dct["Emmanuel"]["Interesting Fact"] = "I have 7 degrees!!! And I'm earning the M.S. Data Analytics"
dct["Dylan"]["Age"] = 21
dct["Dylan"]["Interesting Fact"] = "I am a triplet!"
dct["Jack"]["Age"] = 21
dct["Jack"]["Interesting Fact"] = "I have never broken a bone!" 
dct["Logan"]["Age"] = 22
dct["Logan"]["Interesting Fact"] = "I fight fires!"
dct["Gwen"]["Age"] = 23
dct["Gwen"]["Interesting Fact"] = "I bought my first cow when I was 10 years old!"
dct["James"]["Age"] = 28
dct["James"]["Interesting Fact"] = "I am from Bejou!"
dct["Ben"]["Age"] = 23
dct["Ben"]["Interesting Fact"] = "I like basketball!"
dct["Connor"]["Age"] = 21
dct["Connor"]["Interesting Fact"] = "I like to play tennis!"

dct

{'Tyler': {'Age': '21',
  'Interesting Fact': 'I am left-handed / ambidextrious!'},
 'Emmanuel': {'Age': 32,
  'Interesting Fact': "I have 7 degrees!!! And I'm earning the M.S. Data Analytics"},
 'Logan': {'Age': 22, 'Interesting Fact': 'I fight fires!'},
 'Connor': {'Age': 21, 'Interesting Fact': 'I like to play tennis!'},
 'Dylan': {'Age': 21, 'Interesting Fact': 'I am a triplet!'},
 'Gwen': {'Age': 23,
  'Interesting Fact': 'I bought my first cow when I was 10 years old!'},
 'Jack': {'Age': 21, 'Interesting Fact': 'I have never broken a bone!'},
 'Ben': {'Age': 23, 'Interesting Fact': 'I like basketball!'},
 'James': {'Age': 28, 'Interesting Fact': 'I am from Bejou!'}}

In [36]:
df = pd.DataFrame(dct)
df

,Tyler,Emmanuel,Logan,Connor,Dylan,Gwen,Jack,Ben,James
Age,21,32,22,21,21,23,21,23,28
Interesting Fact,I am left-handed / ambidextrious!,I have 7 degrees!!! And I'm earning the M.S. D...,I fight fires!,I like to play tennis!,I am a triplet!,I bought my first cow when I was 10 years old!,I have never broken a bone!,I like basketball!,I am from Bejou!

##